nbproject
uploads/cache/*
uploads/content/*
uploads/product/*

cakephp-2.5.4.zip
lib/Cake/*
.project
*.bak
*.buildpath

app/Config/expense_local.php
app/Config/Database/local.php
app/Config/Bootstrap/local.php
app/Config/Core/local.php
app/tmp/logs/*
app/tmp/cache/*
app/tmp/IdsLogs/*
app/tmp/rest_api/*
app/Vendor/v3-php-sdk-2.0.4/sdk.config
app/Plugin/Queue
app/Plugin/DebugKit
app/Vendors/FirePHP
.settings/
app/Vendor/v3-php-sdk-2.0.4/executionlog.txt
